@import "../../styles/variables";

.catalogue {
  display: flex;
  flex-direction: column;

}

.characterCatalogue {
  width: 675px;
  display: grid;
  grid-template-columns: repeat(3, 240px);
}

.loadMoreBtnBox {
  width: 150px;
  margin: 0 auto;

  button {
    width: 100%;
    margin-bottom: 45px;
  }

  display: flex;
  justify-content: center;
}

.loadingPlaceholderCard {
  box-shadow: $shadow;
  width: 200px;
  height: 320px;
  padding: 10px;
  margin-bottom: 30px;
}

.loadingPlaceholderImage {
  width: 180px;
  height: 180px;
  animation: $placeholderAnimation;
}

.loadingPlaceholderLine {
  width: 80%;
  height: 20px;
  animation: $placeholderAnimation;
  margin-top: 15px;
}

.characterCatalogueError {
  width: 675px;

  img {
    width: 222px;
    height: 322.5px;
  }

  h2 {
    color: $red;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
}



