@import "../../styles/variables";

.comicsCatalogue {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-column-gap: 65px;
  grid-row-gap: 55px;
}

.btnMargin {
  margin-top: 45px;
  margin-bottom: 50px;
}

.comicsCatalogueError {
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.errorCaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $red;
}
