@import "../../styles/variables";

.loadingPlaceholderCard {
  box-shadow: $shadow;
  padding: 10px;
  margin-bottom: 30px;
}

.loadingPlaceholderImage {
  animation: $placeholderAnimation;
}

.loadingPlaceholderLine {
  width: 80%;
  height: 20px;
  animation: $placeholderAnimation;
  margin-top: 15px;
}