@import "../../styles/variables";

.red {
  border-image: linear-gradient(-45deg, transparent 10%, $red 10%, $red 90%, transparent 90%) 18 fill / 15px;
}

.grey {
  border-image: linear-gradient(-45deg, transparent 10%, $gray 10%, $gray 90%, transparent 90%) 18 fill / 15px;
}

.btn {
  color: white;
  background: none;
  width: 101px;
  height: 38px;
}

.btn:hover {
  transform: translateY(-5px);
}