<<<<<<<<< Temporary merge branch 1
=========
@import "../../styles/variables";

>>>>>>>>> Temporary merge branch 2
.itemPageCharInfo {
  width: 100%;
  display: flex;
}

.itemPageCharImage {
  margin-right: 50px;
}

.charInfo {
  display: flex;
  flex-direction: column;
  width: 550px;
  p {
    margin-top: 25px;
    font-size: 18px;
  }
}

.itemPageLink {
  margin-left: 185px;
<<<<<<<<< Temporary merge branch 1
=========

  a:hover {
    color: $red;
  }
>>>>>>>>> Temporary merge branch 2
}