<<<<<<< HEAD
@import "../../styles/variables";

.itemPageCharInfo {
  width: 100%;
  display: flex;
}

.itemPageCharImage {
  margin-right: 50px;
}

.charInfo {
  display: flex;
  flex-direction: column;
  width: 550px;
  p {
    margin-top: 25px;
    font-size: 18px;
  }
}

.itemPageLink {
  margin-left: 185px;
<<<<<<< HEAD

  a:hover {
    color: $red;
  }
=======
>>>>>>> 8abb31a2e7f84bb2f67c7d56c7220b6da541e425
}