@import '../../styles/variables';

.characterCard {
  width: 200px;
  height: 320px;
  background-color: $cardBackground;
  box-shadow: $shadow;
  h2 {
    color: white;
    margin-top: 20px;
    font-size: 18px;
  }

  transition: 0.7s;
  transform: translateY(0px);
}

.name {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.activeCard {
  box-shadow: $redShadow;
  transition: 0.7s;
  transform: translateY(-10px);
}

