@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  font-family: Roboto Condensed, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.activeRed {
  color: $red;
}

.navigation {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navigationLink:hover {
  color: $red;
}



